.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;

    .card__media {
        aspect-ratio: 595/490;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 16px;
        }
    }

    .Card__Content {
        margin-top: auto;
        margin-bottom: auto;
        gap: 12px;

        p {
            margin: 0 0;
        }

        .subtitle {
            margin: 20px 0px;
        }
        h3 {
            margin: 0 0;
            margin-bottom: 10px;
        }

        .button {
            background-color: var(--color-primary);
            border-radius: 64px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            max-width: 255px;
            padding-top: 5px;
            padding-bottom: 5px;
            p {
                color: var(--color-black);
                font-size: typo(16px);
                font-family: var(--font-primary);
                font-weight: bold;
            }

            svg {
                color: var(--color-black);
                font-weight: bold;
                width: 24px;
                height: 24px;
            }
        }
    }
}

.reactive {
    .Card__Content {
        h3 {
            color: var(--color-black);
        }
        p {
            color: var(--color-black);
            .semibold {
                color: var(--color-black);
            }
        }

        .button {
            background-color: var(--color-white);
        }
    }
}

.card.flipped > .card__media {
    grid-column: 2;
    grid-row: 1;
}
