.hero {
    height: 80vh;
    padding: 80px 0px;
    position: relative;
    .wrapper {
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;

        .hero__media {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .hero__content {
        }
    }

    @media (width <= $breakpoint-md) {
        height: 60vh;
    }
}
