.laboratoires {
    
    padding: 80px 50px;
    .wrapper {
        h2 {
            margin: 80px 0;
        }

        .cards {
            display: grid;
            grid-template-columns: 1fr;

            gap: 24px;
        }
    }
}


@media (width <= 650px){
   
.laboratoires{
    padding: 80px 20px;
}

}