.laboratoires {
    padding-bottom: 80px;
    .wrapper {
        h2 {
            margin: 80px 0;
        }

        .cards {
            display: grid;
            grid-template-columns: 1fr;

            gap: 24px;
        }
    }
}
