{% include "_partials/_header.html" %}

<!-- Votre contenu ici -->

<div class="hero">
    <div class="wrapper">
        <div class="hero__media">
            <div class="blur"></div>
            <img src="assets/images/programming-background-collage_23-2149901778(1).jpg" alt="hero" />
        </div>
        <div class="hero__content">
            <h1>Mon cahier d'exercice</h1>
        </div>
    </div>
</div>

<section class="laboratoires">
    <div class="wrapper">
        <h2>
            Mes premiers
            <span class="semibold">laboratoires</span>
        </h2>

        <div class="cards">
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/Capture d’écran, le 2025-11-17 à 11.50.44.png" alt="" />
                </div>
                <div class="Card__Content">
                    <h3>SEM 01 - RÉVISION</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        <span class="semibold">adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                    </p>
                    <p class="subtitle">HTML + CSS</p>
                    <a href="https://zlamontagne.dectim.ca/cours/cw3/sem01/" class="button" target="_blank">
                        <p class="Button__p">VOIR LE LABORATOIRE</p>
                        <svg class="icon icon--md">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="card flipped">
                <div class="card__media">
                    <img src="assets/images/hero.png" alt="" />
                </div>
                <div class="Card__Content">
                    <h3>SEM 02 - MANQUANT</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        <span class="semibold">adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                    </p>
                    <p class="subtitle"></p>
                    <a href="" class="button" target="_blank">
                        <p class="Button__p">VOIR LE LABORATOIRE</p>
                        <svg class="icon icon--md">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/Capture d’écran, le 2025-11-17 à 11.51.04.png" alt="" />
                </div>
                <div class="Card__Content">
                    <h3>SEM 03 - LOUISA JOY</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        <span class="semibold">adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                    </p>
                    <p class="subtitle">HTML + CSS</p>
                    <a href="https://zlamontagne.dectim.ca/cours/cw3/sem03/" class="button" target="_blank">
                        <p class="Button__p">VOIR LE LABORATOIRE</p>
                        <svg class="icon icon--md">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="card flipped">
                <div class="card__media">
                    <img src="assets/images/Capture d’écran, le 2025-11-17 à 11.51.18.png" alt="" />
                </div>
                <div class="Card__Content">
                    <h3>SEM 04 - ICONES</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        <span class="semibold">adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                    </p>
                    <p class="subtitle">HTML + CSS</p>
                    <a href="https://zlamontagne.dectim.ca/cours/cw3/sem04/" class="button" target="_blank">
                        <p class="Button__p">VOIR LE LABORATOIRE</p>
                        <svg class="icon icon--md">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="animlab">
    <div class="wrapper">
        <h2>
            Mes
            <span class="semibold">laboratoires réactifs</span>
        </h2>

        <div class="swiper swiperRéactif">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card reactive">
                        <div class="card__media">
                            <img src="assets/images/Capture d’écran, le 2025-11-17 à 11.51.50.png" alt="" />
                        </div>
                        <div class="Card__Content">
                            <h3>SEM 07 - RÉACTIF</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                <span class="semibold">adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                            </p>
                            <p class="subtitle">HTML + CSS + JS</p>
                            <a href="https://zlamontagne.dectim.ca/cours/cw3/sem07/" class="button" target="_blank">
                                <p class="Button__p">VOIR LE LABORATOIRE</p>
                                <svg class="icon icon--md">
                                    <use href="#icon-chevron-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card reactive">
                        <div class="card__media">
                            <img src="assets/images/Capture d’écran, le 2025-11-17 à 11.52.11.png" alt="" />
                        </div>
                        <div class="Card__Content">
                            <h3>SEM 08 - CRYPTOQC</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                <span class="semibold">adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                            </p>
                            <p class="subtitle">HTML + CSS + JS</p>
                            <a href="https://zlamontagne.dectim.ca/cours/cw3/sem08/" class="button" target="_blank">
                                <p class="Button__p">VOIR LE LABORATOIRE</p>
                                <svg class="icon icon--md">
                                    <use href="#icon-chevron-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card reactive">
                        <div class="card__media">
                            <img src="assets/images/Capture d’écran, le 2025-11-17 à 11.52.36.png" alt="" />
                        </div>
                        <div class="Card__Content">
                            <h3>SEM 09 - SWIPER</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                <span class="semibold">adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                            </p>
                            <p class="subtitle">HTML + CSS + JS</p>
                            <a href="https://zlamontagne.dectim.ca/cours/cw3/sem09/" class="button" target="_blank">
                                <p class="Button__p">VOIR LE LABORATOIRE</p>
                                <svg class="icon icon--md">
                                    <use href="#icon-chevron-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
